.nav-bar {
  /* background-color: bisque; */
  height: 50px;
  display: flex;
  font-size: var(--navfont);
  font-family: var(--fontheading);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0px 0px 0px 10px;
}
.left-content h1 {
  font-size: var(--navfont);
  font-family: var(--fontheading);
  color: black;
}
.left-content p {
  margin-top: 10px;
  font-family: var(--fontpara);
  font-size: var(--fontsize);
}

.right-content {
 
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-content img {
  height: 355px;
}

.blog-content {
  height: 395px;
  display: flex;
  /* background-color: rgb(220, 177, 247); */
  margin-top: 32px;
}
.blog-footer {
  /* background-color:lightgreen; */
  height: 50px;
}
.featured-articles{
  font-size: var(--navfont);
  
}
.artical-list{
  margin-top:20px;
  display: flex;
  flex-direction:column;
}
.artical-img{

  height:50px;
  width:50px;
  
}
.atical-content{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.atical-content p{
  margin: top 10px;
  font-size: var(--fontsize);
  font-family: var(--fontpara);

}
