@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Roboto:ital,wght@1,900&display=swap");
::root {
  --fontheading: "Roboto", sans-serif;
  --fontpara: "Poppins", sans-serif;
  --navfont: 60px;
  --fontsize:18;    
}
* {
  margin: 0;
  padding: 0;
}
.max-width-1 {
  max-width: 80vw;
}
.max-width-2 {
  max-width: 60vw;
}
.margin-auto {
  margin: auto;
}
.form-input {
  font-family: var(--fontpara);
  padding: 10px;
  margin: 0px, 10px;
  font-size: var(--fontsize);
  border: 1px solid powderblue;
  border-radius: 5px;
}
.form-input:focus {
  outline: none;
  border-color: purple;
}

.btn {
  background-color: #4caf50;
  font-family: var(--fontpara);
  color: white;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  font-size: var(--fontsize);
  cursor: pointer;
  margin: 0px 10px;
}
